 body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family:"Microsoft YaHei","微软雅黑", Arial;
	color: #747474;
}
body{}
a {text-decoration: none;}
a:hover{text-decoration: none;color: #7048CB;}
input,textarea:focus {outline: none; }
img {border: 0;}
ul, li {list-style-type: none;}
.clear {clear: both}
strong{font-size: inherit;color: inherit;}
area{outline:none;}
a,span{color: inherit;font-size:inherit;font-weight: inherit; }

.fl {float: left}
.fr {float: right}
.sm-clear,.xs-clear{height: 0!important;width: 0!important;padding: 0!important;margin: 0!important}
.layui-fluid{padding: 0;}
.bgffffff{background: #ffffff;}
.bgf3f4fe{background: #f3f4fe;}
.all-main{padding:0 0 50px;min-height:500px;  }
a.cfff:hover{color:#ffffff;}
/*footbg*/
.custom-shape-divider-top-1596528856 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1596528856 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 68px;
}

.custom-shape-divider-top-1596528856 .shape-fill {
    fill: #f3f4fe;
}

/*casebg*/
.custom-shape-divider-top-1596529177 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1596529177 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 33px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1596529177 .shape-fill {
    fill: #FFFFFF;
}

/*biaogebg*/
.custom-shape-divider-bottom-1596532164 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1596532164 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 101px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1596532164 .shape-fill {
    fill: #FFFFFF;
}


/*内页banner开始*/

/*内页banner结束*/
.tran{transition:all 0.5s 0.2s;
-moz-transition:all 0.5s 0.2s;
-webkit-transition:all 0.5s 0.2s;
-o-transition:all 0.5s 0.2s}


.top{background: #ffffff;box-shadow: 0px 3px 10px 4px rgba(231,233,254,0.6); }
.top .logo{width: 177px;float: left;padding: 22px 0 24px;}
.top .menu{float: right;padding: 18px 0 0;}
.top .menu a{border: 1px solid #bcaee7;border-radius: 3px;colorp: #4821ed;
letter-spacing: 1px; padding: 10px 23px;margin-left:16px;display: inline-block; }
.top .menu a:hover{background-color:#7048CB;color: #ffffff;border: 1px solid #7048CB;}

.banner{background-image:url(/public/web/img/banner.webp);background-repeat: no-repeat;background-position: center bottom;padding-bottom: 30px; }
.banner .infor{}
.banner .infor p{font-size: 16px;line-height: 200%;}
.banner .infor h1{font-size: 44px;font-weight: 700;color: #000000;padding-top: 105px;padding-bottom: 10px;}
.banner .infor ul{width: 50%;padding-top: 5px;margin-bottom: 30px;}
.banner .infor li{width: 215px;display: inline-block;}
.banner .infor li p{background-repeat: no-repeat;background-size: 32px;background-position: left center; padding:7px 0 7px 41px;color: #000000;font-size: 15px;}
.banner .infor p.font2{font-size: 15px;}
.uploadbtn{width: 302px;height: 73px;background: linear-gradient(0deg,#555dff 0%, #ffffff 0%, #6555ff 0%, #7343fd 100%);border-radius: 36px;box-shadow: 0px 5px 15px 0px rgba(86,93,255,0.5);display: block; text-align: center;margin:32px 0 35px;}
.uploadbtn span{font-size: 28px;font-weight: 700;color: #ffffff;letter-spacing: 2px;color: #ffffff;display: inline-block;line-height: 73px;background-image: url(/public/web/img/btnpic.png);background-repeat: no-repeat;background-position: left 12px;background-size: 88px;padding:0 20px 0 95px;}
.uploadbtn:hover{color: #ffffff;width: 340px;box-shadow: 0px 8px 15px 0px rgba(86,93,255,0.6);}
.uploadbtn:hover span{letter-spacing: 5px;}

.biaoge{background: #e7e9fe;}
.nomaltitle{color: #ffffff;font-size: 22px;color: #67649d;font-weight: 700;background-image: url(/public/web/img/titarr.png);background-size: 43px;background-repeat: no-repeat;background-position: left center; padding:10px 0 10px 50px;margin:0 0 20px;}
.setting{background-image: linear-gradient(to right, #4b3fc5 , #6134c5);border-radius: 20px;padding: 40px 3%;text-align: center;max-width: 1500px;margin:0 auto;}
.loadpic{height: 453px;background: #ffffff;border-radius: 20px;}
#myuploadpic,#myuploadpiclist,.loadpic .nopic{/*max-width: 418px;*/width: auto;max-height: 70%;;position: absolute;
      top: 50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);}

.setting p{color: #c8c0e9;position: relative;}
.setting p.beizhu{line-height: 170%;margin-bottom: 30px;}
.setting p.beizhu a{color: #ffffff;}
.setting p.beizhu a:hover{text-decoration: underline;}
.setting p.beizhu:before{content: '*';color: #FFF100;position: absolute;left: -15px; top: 3px;font-size: 20px;}
.setting h1{color: #ffffff;font-size: 18px;padding-bottom: 12px;}
.setting .nomaltitle{background-image: url(/public/web/img/titarrw.png);color: #ffffff;text-align: left;}
.setok{background: #ffcc00;border-radius: 28px;font-weight: 700;text-align: center;color: #845d00;letter-spacing: 1px;font-size: 26px;display: block;line-height: 55px;margin-bottom: 13px;}
.parameter{text-align: left;}

.parameter .color{padding-bottom: 42px;}
.parameter .color a{width: 40px;height:40px;border-radius: 50%;display: inline-block;margin-right: 27px;}
/*.parameter .color a.blue{background: #1b95fc;}
.parameter .color a.red{background: #ff0000;}
.parameter .color a.white{background: #ffffff;}*/

.advantage{padding: 48px 0 65px;}
.advantage .item{background-image: url(/public/web/img/yspic.png);background-size: 50px;background-position: left 8px;background-repeat: no-repeat;padding-left:65px; }
.advantage h1{font-size: 20px;font-weight: 700;text-align: left;color: #000000;padding: 20px 0;line-height: 100%;}
.advantage p{opacity: 0.8;color: #51557c;line-height: 22px;}

.step .content{padding: 60px 0 75px;}
.step .item{background-image: url(/public/web/img/stepbg.png);background-size: 100%;background-position: top left;background-repeat: no-repeat;text-align: center;padding-top: 122%;position: relative;}
.step .item .pic img{width:60%;max-width: 90px;}
.step .item .pic h1{font-size: 20px;color: #ffffff;padding-top: 16px; }
.step .item .pic{position: absolute;top:16%;width: 100%; }

.step .ad{margin: 23px 0 -15px;}

.case{background: #f3f4fe;}
.case .content{padding: 80px 0;}
.case .pic{text-align: center;}
.casebody{padding:0 35px;}
.case .pic img{width: 90%;}

.foot{background: #7048cb;}
.foot .content{text-align: center;padding: 30px 0;}
.foot .content p{font-weight: 400;color: #ffffff;}
.foot .content p.bei{font-size: 12px;opacity: .5;line-height: 180%;padding-top: 20px;}
.foot .content img{max-width: 179px;width: 40%;padding: 30px 0;}


.nbanner{background-image: linear-gradient(to right, #4b3fc5 , #6134c5);}
.nbanner img{padding-left: 15%;max-width:721px;width: 60%; }
.mainbody{margin-top: -130px;position: relative;padding-bottom: 60px;}
.maincontent{border-radius: 20px;background-color: #ffffff;padding: 80px 8%;}
.guide{color: #ffffff;display:inline-block;font-size: 16px;background-image: url(/public/web/img/home.png);background-repeat: no-repeat;background-position: left center;background-size: 16px;position: absolute;right: 15px;top: -45px;padding-left: 25px;}
.guide i{font-style: normal;color: #ffffff;padding: 0 10px;font-size: 16px;}
.guide a:hover{color: #ffffff;text-decoration: underline;}
.fonttitle{font-size: 36px;color: #7048cb;text-align: center;margin-bottom: 50px;}
.ordersearch{position: relative;box-shadow: 0px 2px 10px 4px rgba(164,168,204,0.4) inset; background: #f8f9ff;border-radius: 20px;padding:28px 30px;margin:0 5% 70px;}
.ordersearch .tit{display: inline-block;float: left;font-size: 18px;color: #000000;padding-right:50px; }
.ordersearch input{display: block;border:0;background:none;font-size: 18px;width:80%;color: #828282;}
.ordersearch .okbtn{display: inline-block;position: absolute;right: 30px;top: 23px;}
.ordersearch .okbtn a{width: 37px;height: 37px;background-image: url(/public/web/img/search.png);background-repeat: no-repeat;background-size: 100%;display: block;}
.example{padding:0 5%;}
.example p{font-size: 16px;text-align: center;color: #000000;opacity: .8}
.example .pic{text-align: center;padding-top:40px; }
.example img{width: 80%;max-width: 311px;}

.question{margin-top: -20px;}
.question li{padding: 40px 0;border-bottom: 1px solid #dcdcdc;}
.question .ask{position: relative;padding-left: 30px;padding-bottom: 10px;}
.question .ask h1{font-size: 16px;color: #000000;font-weight: bold;line-height: 170%;}
.question .answer{position: relative;padding-left: 30px;}
.question .answer p{line-height: 170%;}
.question .qtit{position: absolute;left: 0;top: 2px;color: #ffffff;display: inline-block;width: 22px;text-align: center;padding:1px 0;border-radius: 2px;}
.question .ask .qtit{background: #7048cb;}
.question .answer .qtit{background: #c1c1c1;}
.question .answer img{
    max-width: 100%;
}
 

@media screen and (min-width:1200px){
}

@media screen and (max-width:1199px){


}

@media screen and (max-width:992px){
.step .item .pic img{width:50%;max-width: 90px;}
.step .item .pic h1 {font-size: 14px;padding-top: 8px;}
.step .item .pic{ top: 18%;}
.loadpic{min-height: 516px;}
.ordersearch{padding: 22px 30px;margin: 0 0 70px;}
.ordersearch .okbtn{top: 32px;}
.ordersearch .tit{font-size: 14px;padding-bottom: 10px;width: 100%;}

}

.layui-col-space80>* {padding: 0px 2.8%;}
.layui-col-space80 {margin: 0 -2.8%;}
.layui-col-space160>* {padding: 0px 3.3%;}
.layui-col-space160 {margin: 0 -3.3%;}
.layui-form-select dl dd.layui-this{ background-color: #7048CB;}
.layui-form-select .layui-input{color: #000000;}
.layui-input, .layui-select, .layui-textarea{height:42px; }

@media screen and (min-width:769px){
.parameter .szpart{max-width: 313px;}

}