
/*移动端*/
@media screen and (max-width: 768px){

.sm-clear{clear:both;}
.layui-fluid,.layui-row{overflow: hidden;}
/*head开始*/
.top .logo{width: 112px;padding: 19px 0 19px;}
.top .menu{padding: 14px 0 0;}
.top .menu a{padding: 7px 8px;margin-left: 10px;font-size: 12px;}
.setting{padding: 20px 5%;margin: 0;border-radius: 0px;}
.banner{background-size: 150% ;background-position:70% bottom;}
.banner .infor h1{font-size: 26px;}
.banner .infor p{font-size: 12px;}
.uploadbtn {width: 226px;height: 58px;box-shadow: 0px 5px 15px 0px rgba(86,93,255,0.5);margin: 17px 0 21px;}
.uploadbtn span{    font-size: 21px;line-height: 58px;background-position: left 8px;background-size: 73px;padding: 0 20px 0 87px;}
.banner .infor p.font2{font-size: 12px;}
.banner .infor li p{font-size: 12px;background-size: 24px;padding: 5px 0 5px 32px;}
.banner .infor h1{padding-top: 50px;}
.nomaltitle{font-size: 16px;background-size: 23px;padding: 10px 0 10px 30px;margin: 0 0 6px;}
.loadpic{height: auto;min-height: 233px;border-radius: 10px;}
.loadpic:after, .loadpic:before {
    content: '';
    display: block;
    clear: both;
}
.loadpic .nopic{width: auto;height: 60%;}
.parameter{margin:20px 0;}
.setting p{font-size: 12px;}
.setting p.beizhu{padding-left: 13px;}
.setting p.beizhu:before{left: 0;}
.setting h1{font-size: 16px;}
.advantage {padding: 15px 0 70px;}
.advantage h1{padding: 10px 0 5px;font-size: 14px;}
.advantage .item{background-size: 25px;padding-left: 33px;margin-top: 10px;background-position: left 3px;}
.advantage p{font-size: 12px;    line-height: 150%;}
.step .content {padding: 40px 0 52px;}
.stepbody{padding: 10px 22px 0;}
.case .content {padding: 49px 0;}
.casebody {padding: 0 22px;}
.foot{margin-top: -1px;}
.foot .content img{max-width: 130px;}
.foot .content p{font-size: 12px;}
.mainbody {margin-top: -38px;}
.maincontent{border-radius: 10px;padding: 50px 8%;}
.nbanner img {padding-left: 0;max-width: 721px;width: 335px;margin-left: -40px;}
.guide{font-size: 12px;background-size: 12px; top: -35px;}
.fonttitle {font-size: 26px;}
.ordersearch {padding: 22px 0 22px 20px;margin: -14px 0 70px;border-radius: 10px;margin-bottom: 150px;}
.ordersearch input{font-size: 14px;width: 100%;}
.ordersearch .okbtn{text-align: center;display: block;width: 100%;right: 0;top: 100px;}
.ordersearch .okbtn a{background-color: #7048cb;border-radius: 50%;background-image: url(../images/searchw.png);background-size: 30px;background-position: center center;padding: 20px;display: inline-block; }
.example p {font-size: 14px;}
.ordersearch .tit {font-size: 12px;padding-bottom: 10px;}
.question {margin-top: -40px;}

#myuploadpic,#myuploadpiclist{position: relative;top: inherit;left: inherit;bottom: inherit;display: block;margin: 10px auto;transform:initial;-webkit-transform:initial;-moz-transform:initial;-ms-transform:initial;}

}

@media screen and (max-width: 320px){
	.stepbody{padding: 10px 0px 0;}
}