<div class="layui-fluid" id="secret-edit" lay-title="小程序">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" lay-filter="component-form-element">
            <input type="hidden" name="id">
            <div class="layui-col-md12" style="margin-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属产品</label>
                    <div class="layui-input-block">
                        <div id="edit_category_id"  class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">秘钥</label>
                    <div class="layui-input-block">
                        <input type="text" name="secret_key" placeholder="产品秘钥" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">成本价</label>
                    <div class="layui-input-block">
                        <input type="number" name="price" placeholder="秘钥成本价格" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="edit-secret-sub">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','layedit','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#secret-add');
        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var token = admin.loginToken;
        var popup_data = POPUP_DATA.data
        var layedit = layui.layedit;
        var upload = layui.upload;
        var edit_category_id = xmSelect.render({
            el: document.querySelector('#edit_category_id'),
            tips: '请选择产品',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'category_id',
            toolbar: {
                show: true,
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            filterable: false, //是否开启搜索
            height: '400px',
            data:[]
        })
        //远程获取分类
        admin.post({
            api: 'getCategoryAll',
            async: false,
            success:function (res) {edit_category_id.update({data:res.result});edit_category_id.setValue([popup_data.category_id]);}
        });

        

        form.val("component-form-element", popup_data);
        form.render('checkbox');
        form.render(null, 'component-form-element');

        element.render('breadcrumb', 'breadcrumb');
        var index = parent.layer.index
        form.on('submit(edit-secret-sub)', function (data) {
            admin.post({
                api: 'editSecret',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
    });
</script>