<link rel="stylesheet" href="./nepadmin/css/formSelects.css" media="all">
<style>
    .layui-table-cell {  padding: 0 5px;  }
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-keyword-list-table" lay-title="访问来源">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" id="search_user">
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="platform">
                                <option value="">搜索平台</option>
                                <option value="百度">百度</option>
                                <option value="谷歌">谷歌</option>
                                <option value="360">360</option>
                                <option value="搜狗">搜狗</option>
                                <option value="搜搜">搜搜</option>
                                <option value="神马">神马</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="repeat">
                                <option value="">IP不去重</option>
                                <option value="1">IP去重</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="keyword" placeholder="关键词" style="width: 120px">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="url" placeholder="标识符" style="width: 120px">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="ip" placeholder="ip" style="width: 120px">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="referer_url" placeholder="来源链接" style="width: 120px">
                        </div>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" name="start" id="keyword_start" autocomplete="off" placeholder="起始时间">
                        </div>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input"  name="end" id="keyword_end" autocomplete="off" placeholder="截取时间">
                        </div>
                        <div class="layui-input-inline">
                        <div class="layui-btn layui-btn " lay-submit lay-filter="search-keyword">立即搜索</div>
                        <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <table id="keyword-list-table" lay-filter="keyword-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="keyword_bar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-sm" lay-event="send">重发</a>

    </div>
    <!--<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>-->
</script>
<script type="text/html" id="statusTpl">
   {{d.is_send==1?'<span class="layui-badge layui-bg-green">成功</span>':'<span class="layui-badge">失败</span>'}}
</script>


<script>
    layui.use(['admin', 'table', 'form', 'dropdown','xmSelect', 'jquery','laydate'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var view = $('#VIEW-keyword-list-table');
        var tableFilter = 'keyword-list-table';

        form.render();
        laydate.render({elem: '#keyword_start',type:'datetime'});
        laydate.render({elem: '#keyword_end',type:'datetime'});
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'getKeywordList',
            page: true,
            cols: [[
                { title: '来源平台', field: 'platform',width: 150},
                { title: '关键词', field: 'keyword'},
                { title: 'ip', field: 'ip',width: 120},
                { title: '标识符', field: 'url'},
                { title: '来源链接', field: 'referer_url'},
                { title: '访问时间', field: 'create_time',width: 150},
                { title: '更新时间', field: 'update_time',width: 150},
            ]]
        });
        view.find('.table-action').click(function () {
            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus('keyword-list-table')
                ,data = checkStatus.data;
            console.log(data);
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (type) {
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case 'add':
                    admin.popup({
                        //网页地址或本地目录
                        title:'添加账户',
                        url:'/user/add',
                        area: ['60%', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( 'keyword-list-table');
                        }
                    })
                    break;
            }
        })

        // 监听筛选用户
        form.on('submit(search-keyword)', function (data) {
            table.reload( 'keyword-list-table', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
        //监听工具条
        table.on('tool(keyword-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'send'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定重发此邮件？'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'sendkeyword',
                            async: false,
                            data:{id:data.id},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( 'keyword-list-table');
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }
                            }
                        });
                    }
                    ,success: function(layero, index){
                        this.enterEsc = function(event){
                            if(event.keyCode === 13){
                                admin.post({
                                    api: 'sendkeyword',
                                    async: false,
                                    data:{id:data.id},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( 'keyword-list-table');
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }
                                    }
                                });
                                return false; //阻止系统默认回车事件
                            }
                        };
                        $(document).on('keydown', this.enterEsc);	//监听键盘事件，关闭层
                    }
                    ,end: function(){
                        $(document).off('keydown', this.enterEsc);	//解除键盘关闭事件
                    }
                });
            }
        });


    })
</script>