<div class="layui-fluid"id="category-add" lay-title="新增栏目">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="add-category-element">
            <div class="layui-form-item">
                <label class="layui-form-label">栏目名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="栏目名称" autocomplete="off" class="layui-input">
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">模板页面：</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="text" name="url_name" lay-verify="required" placeholder="模板页面" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">查询价格：</label>
                <div class="layui-input-block">
                    <input type="number" name="price" lay-verify="required" placeholder="请输入查询价格" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">划线价格：</label>
                <div class="layui-input-block">
                    <input type="number" name="line_price" lay-verify="required" placeholder="请输入划线价格" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序：</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" lay-verify="required" placeholder="请输入排序值，越小越靠前" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品状态：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" value="1" lay-skin="switch" checked lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否推荐：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="is_hot" value="1" lay-skin="switch" checked lay-text="推荐|不推荐">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">支持重装：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="is_reset" value="1" lay-skin="switch" checked lay-text="支持|不支持">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">项目描述：</label>
                <div class="layui-input-block">
                    <textarea name="describe" placeholder="请输入项目描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="image" id="image">
                <label class="layui-form-label">项目图标</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-warm" id="upload-category-image">上传项目图标</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="category-image" width="100px" height="100px">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-category-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var upload =layui.upload;
        var view = $('#category-add');
        var upload =layui.upload;
        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var token = admin.loginToken;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upload-category-image'
            ,headers: {token: token}
            , url: '/admin/common/upload'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#category-image').attr('src', result);
                });
            }
            , done: function (res) {
                if (res.status==0) {
                    return layer.msg('上传失败');
                }else{
                    layer.msg('上传成功');
                    $('#image').val(res.result.image)
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        })

        form.render(null, 'add-category-element');
        element.render('breadcrumb', 'breadcrumb');
        var index = parent.layer.index
        form.on('submit(add-category-element)', function (data) {
            admin.post({
                api: 'addCategory',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.result.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
    });
</script>